
<div class="container">
	<div class="panel panel-default">
	  <div class="panel-heading"><h1>About This App</h1></div>
	  <div class="panel-body">
	    <p>I just completed the Runy on Rails Course from <a href="https://onemonth.com" target="_blank">onemonth.com</a>.</p>
	    <p>Through this site i was to create my First Ruby on Rails Application.</p>
	  </div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h3>Thanks for checking out my App.</h3>
			<%=image_tag("image1.JPG", alt: "Image of Author", class: "img-responsive")%>
		</div>
		<div class="col-md-4">
		
		</div>
	</div>
</div>